In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-07-18 23:52:26,-53.1500,-70.9167,39.31,87,75,31.07
1,1,Guerrero Negro,MX,2022-07-18 23:55:36,27.9769,-114.0611,78.17,56,4,15.05
2,2,Faya,SA,2022-07-18 23:55:36,18.3851,42.4509,68.52,39,62,4.14
3,3,Kharhial,IN,2022-07-18 23:55:36,20.2833,82.7667,73.53,92,73,5.28
4,4,Bluff,NZ,2022-07-18 23:55:37,-46.6000,168.3333,45.81,72,97,16.17

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of max temp
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],  
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity 
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the percent humidity 
humidity = city_data_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the percent cloudiness
clouds = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= clouds,  
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap for wind speed
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the wind speed
wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= wind,  
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Guerrero Negro,MX,2022-07-18 23:55:36,27.9769,-114.0611,78.17,56,4,15.05
10,10,Alofi,NU,2022-07-18 23:55:39,-19.0595,-169.9187,78.69,69,75,17.27
15,15,Port Blair,IN,2022-07-18 23:51:41,11.6667,92.7500,77.04,100,75,2.30
17,17,Islamkot,PK,2022-07-18 23:55:41,24.6997,70.1770,82.31,80,100,13.60
19,19,Victoria,HK,2022-07-18 23:55:42,22.2855,114.1577,89.19,86,100,8.01
23,23,Yangcun,CN,2022-07-18 23:55:43,39.3639,117.0603,84.18,64,70,2.75
26,26,Abu Kamal,SY,2022-07-18 23:55:45,34.4506,40.9171,88.92,19,1,1.05
30,30,Albany,US,2022-07-18 23:52:52,42.6001,-73.9662,76.73,88,100,3.00
33,33,Bengkulu,ID,2022-07-18 23:55:47,-3.8004,102.2655,75.60,86,3,3.58
38,38,Portel,BR,2022-07-18 23:55:48,-1.9356,-50.8211,77.31,79,96,2.30

In [20]:
preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Guerrero Negro      MX     78.17  27.9769 -114.0611
10           Alofi      NU     78.69 -19.0595 -169.9187
15      Port Blair      IN     77.04  11.6667   92.7500
17        Islamkot      PK     82.31  24.6997   70.1770
19        Victoria      HK     89.19  22.2855  114.1577
23         Yangcun      CN     84.18  39.3639  117.0603
26       Abu Kamal      SY     88.92  34.4506   40.9171
30          Albany      US     76.73  42.6001  -73.9662
33        Bengkulu      ID     75.60  -3.8004  102.2655
38          Portel      BR     77.31  -1.9356  -50.8211

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Guerrero Negro,MX,78.17,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
10,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
15,Port Blair,IN,77.04,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
17,Islamkot,PK,82.31,24.6997,70.1770,Haji Hotel
19,Victoria,HK,89.19,22.2855,114.1577,Mini Central
...,...,...,...,...,...,...
521,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
523,Komsomolskiy,UZ,77.72,40.4272,71.7189,Ikathouse
528,Polignano A Mare,IT,78.67,40.9959,17.2159,Grotta Palazzese
531,Oyama,JP,85.59,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1
533,Lahad Datu,MY,79.38,5.0268,118.3270,The 27th House

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))