## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from g_key import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Descritption
0,0,Lagos,NG,6.5833,3.7500,74.53,77,71,6.67,broken clouds
1,1,Moissala,TD,8.3404,17.7663,72.21,95,79,2.62,broken clouds
2,2,Evensk,RU,61.9500,159.2333,57.72,77,10,5.08,clear sky
3,3,Barrow,US,71.2906,-156.7887,51.82,62,0,4.61,clear sky
4,4,Bowen,AU,-20.0167,148.2333,65.52,93,99,10.11,overcast clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Descritption
0,0,Lagos,NG,6.5833,3.7500,74.53,77,71,6.67,broken clouds
1,1,Moissala,TD,8.3404,17.7663,72.21,95,79,2.62,broken clouds
6,6,Asyut,EG,27.1810,31.1837,89.78,20,3,9.73,clear sky
7,7,Kijang,KR,35.2442,129.2139,78.53,77,100,8.21,heavy intensity rain
8,8,Butaritari,KI,3.0707,172.7902,81.25,78,63,10.42,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,73.18,75,0,1.19,clear sky
12,12,Hilo,US,19.7297,-155.0900,81.28,83,75,4.61,broken clouds
13,13,Ponta Do Sol,PT,32.6667,-17.1000,76.71,77,2,4.74,clear sky
15,15,Touho,NC,-20.7833,165.2333,74.86,86,100,10.33,overcast clouds
16,16,Nuevo Casas Grandes,MX,30.4167,-107.9167,89.74,33,95,11.99,overcast clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                 0
City                    0
Country                 0
Lat                     0
Lng                     0
Max Temp                0
Humidity                0
Cloudiness              0
Wind Speed              0
Weather Descritption    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Step skipped: There are not empty rows

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Descritption", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Descritption,Lat,Lng,Hotel Name
0,Lagos,NG,74.53,broken clouds,6.5833,3.7500,
1,Moissala,TD,72.21,broken clouds,8.3404,17.7663,
6,Asyut,EG,89.78,clear sky,27.1810,31.1837,
7,Kijang,KR,78.53,heavy intensity rain,35.2442,129.2139,
8,Butaritari,KI,81.25,broken clouds,3.0707,172.7902,
10,Rikitea,PF,73.18,clear sky,-23.1203,-134.9692,
12,Hilo,US,81.28,broken clouds,19.7297,-155.0900,
13,Ponta Do Sol,PT,76.71,clear sky,32.6667,-17.1000,
15,Touho,NC,74.86,overcast clouds,-20.7833,165.2333,
16,Nuevo Casas Grandes,MX,89.74,overcast clouds,30.4167,-107.9167,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!= '')]
clean_hotel_df.head()

,City,Country,Max Temp,Weather Descritption,Lat,Lng,Hotel Name
6,Asyut,EG,89.78,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
7,Kijang,KR,78.53,heavy intensity rain,35.2442,129.2139,Samyang Beach Villa
8,Butaritari,KI,81.25,broken clouds,3.0707,172.7902,Isles Sunset Lodge
10,Rikitea,PF,73.18,clear sky,-23.1203,-134.9692,People ThankYou
12,Hilo,US,81.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vaction.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Descritption}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center= (30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))